<div class="container">
  <div class="row">
    <div class="col-sm-md-xs-lg">


<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/fashion1.png"class="rounded-circle" alt="Card image"height="250px">
      <div class="card-body">
        <h4 class="card-title">Sleevless Kurti</h4>
        <p class="card-text">Price:450</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/fm2.jpeg" class="rounded-circle" alt="Card image" height="250px">
      <div class="card-body">
        <h4 class="card-title">Men T-Shirt</h4>
        <p class="card-text">Price:350</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/fash14.jpg" class="rounded-circle" alt="Card image" >
      <div class="card-body">
        <h4 class="card-title">Men Cotton Shirt</h4>
        <p class="card-text">Price:850</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/fash11.jpg" class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Men Cotton Shirt</h4>
        <p class="card-text">Price:550</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/fash10.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Men T-shirt</h4>
        <p class="card-text">Price:600</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/fashion4.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">women Kurti</h4>
        <p class="card-text">Price:450</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/fash15.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Shirt& Coat</h4>
        <p class="card-text">Price:1,999</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/fashion5.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Women Kurti</h4>
        <p class="card-text"> Price:599</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/fashion6.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Jeans Top</h4>
        <p class="card-text">Price:399</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/fashion7.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Jeans Top</h4>
        <p class="card-text">Price:499</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/fashion8.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Ballon Sleeve Top</h4>
        <p class="card-text">Price:999</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/fash12.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Formal Shirt</h4>
        <p class="card-text">Price:699</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/fw6.jpeg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Cotton Dress Materials</h4>
        <p class="card-text">Price:1000</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/fw7.jpeg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Jeans Top</h4>
        <p class="card-text">Price:1099</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/fash13.jpg"class="rounded-circle" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Checks Shirt</h4>
        <p class="card-text">Price:399</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
    </div>
</div>
</div>
</div>