<div class="container">
  <div class="row">
    <div class="col-sm-md-xs-lg">



<div class="card-deck">
<div class="card">
  <img class="card-img-top" src="./assets/media/oppo-mobile-a9-2020-500x500.jpg" alt="Card image"height="250px">
  <div class="card-body">
    <h4 class="card-title">OPPO A9</h4>
    <p class="card-text" >Price:19,990</p>
    <a href="#" class="btn btn-primary">Add To cart</a>
    
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="./assets/media/sony-mobile-500x500.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">SONY NW A105</h4>
    <p class="card-text">Price:22,990</p>
    <a href="#" class="btn btn-primary">Add To cart</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="./assets/media/nokia-9_1x.png" alt="Card image"height="280px"width="300px">
  <div class="card-body">
    <h4 class="card-title">NOKIA G20</h4>
    <p class="card-text">Price:13,496</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="./assets/media/samsung.jpeg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">SAMSUNG GALAXY M52</h4>
    <p class="card-text">Price:24,999</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>

<!-- <div class="card">
  <img class="card-img-top" src="./assets/media/61eDXs9QFNL._SX522_.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">APPLE I PHONE11</h4>
    <p class="card-text">Price:49,900</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div> -->
</div>
<div class="card-deck">
<div class="card">
  <img class="card-img-top" src="./assets/media/113201624435PM_635_lenovo_lemon_3.webp" alt="Card image"height="300px"width="300px">
  <div class="card-body">
    <h4 class="card-title">LENOVO A7</h4>
    <p class="card-text">Price:11,581</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="./assets/media/mb1.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">LENOVO K9</h4>
    <p class="card-text">Price:8,999</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="./assets/media/vivo-y20t-618x800-1633942218.webp" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">VIVO-Y20T</h4>
    <p class="card-text">Price:18,990</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="./assets/media/mb2.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">SAMSUNG GALAXY M21</h4>
    <p class="card-text">Price:12,999</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div> 
</div>
 <div class="card-deck">
<div class="card">
  <img class="card-img-top" src="./assets/media/mb7.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">IQOO 9 Pro5G</h4>
    <p class="card-text">Price:64,990</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div> 

<div class="card">
  <img class="card-img-top" src="./assets/media/mb5.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">REDMI 10 PRIME</h4>
    <p class="card-text">Price:12,999</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="./assets/media/mb6.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">SAMSUNG GALAXY F42</h4>
    <p class="card-text">Price:17,730</p>
    <a href="#" class="btn btn-primary">Add to cart </a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="./assets/media/mb8.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">REDMI Activ</h4>
    <p class="card-text">Price:9,999</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<!-- <div class="card">
  <img class="card-img-top" src="./assets/media/mb9.jfif" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">XIOAMI 11 Lite</h4>
    <p class="card-text">Price:26,999</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div> -->
</div> 
</div>
</div>
</div>