<div class="container">
  <div class="row">
    <div class="col-sm-md-xs-lg">
<div class="card-deck">
    <div class="card" >
      <img class="card-img-top" src="./assets/media/comp1.jpeg" alt="Card image"height="250px">
      <div class="card-body">
        <h4 class="card-title">Asus Vivo Book 14</h4>
        <p class="card-text"> 32,999</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    
    <div class="card" >
      <img class="card-img-top" src="./assets/media/comp2.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Lenovo V15</h4>
        <p class="card-text"> 28,700</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp3.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Dell Inspiration 15 Laptop</h4>
        <p class="card-text">69,990</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp4.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Dell Vastro 14</h4>
        <p class="card-text">39,<990/p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    
    <!-- <div class="card">
      <img class="card-img-top" src="./assets/media/comp5.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Acer Aspire 7AMb</h4>
        <p class="card-text">54,990</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div> 
    </div>-->
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp6.jpeg" alt="Card image"height="300px"width="300px">
      <div class="card-body">
        <h4 class="card-title">HP Laptop</h4>
        <p class="card-text">43,999</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp7.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Lenovo Ideapad</h4>
        <p class="card-text">37,290</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp8.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Dell Inspiron Core 13</h4>
        <p class="card-text">41,990</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp9.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Lenovo Flex 5i</h4>
        <p class="card-text">53,510</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <!-- <div class="card">
      <img class="card-img-top" src="./assets/media/comp10.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Mi Notebook E 14</h4>
        <p class="card-text">56,999</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div> -->
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp11.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Hp Probook 445G7</h4>
        <p class="card-text">50,287</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp12.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Acer Aspire 3</h4>
        <p class="card-text">34,990</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp13.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Msi Gf63</h4>
        <p class="card-text">65,990</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/comp14.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Lenovo Legion Y540</h4>
        <p class="card-text">58,990</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <!-- <div class="card">
      <img class="card-img-top" src="./assets/media/comp15.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Acer Nitro 5 Ryzen</h4>
        <p class="card-text">99,990</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div> -->
    </div>
    </div>
    </div>
    </div>
