<div class="container">
  <div class="row">
    <div class="col-sm-md-xs-lg">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk6.jpeg" alt="Card image"height="250px">
          <div class="card-body">
            <h4 class="card-title">Plastic Storage Glass Bottles</h4>
            <p class="card-text">Price : 399</p>
            <a href="#" class="btn btn-primary">Add To Cart </a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk7.jpeg" alt="Card image" height="250px">
          <div class="card-body">
            <h4 class="card-title">Set Of 6 Glass Water Bottles </h4>
            <p class="card-text">Price : 516</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk8.jpeg"  alt="Card image" >
          <div class="card-body">
            <h4 class="card-title">Vegetable Chopper</h4>
            <p class="card-text">Price : 545</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk9.jpeg"  alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Wooden Spoons</h4>
            <p class="card-text">Price : 199</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk10.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Sev Maker</h4>
            <p class="card-text">Price : 311</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        </div>
        <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk11.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Tea Mug</h4>
            <p class="card-text">Price : 199</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
    
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk12.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Mortar&Pestle Set</h4>
            <p class="card-text">Price : 211</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk13.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">2 Sets Of Spachulas</h4>
            <p class="card-text">Price : 135</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/hmk14.jpeg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Hawkins Black Pressure Cooker</h4>
            <p class="card-text">Price : 2,999</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/hkll.webp" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Basket</h4>
            <p class="card-text">Price : 99</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        </div>
        <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/media/hk1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">New Container Set</h4>
            <p class="card-text">Price : 950</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/hk2.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Fancy Rack Holder</h4>
            <p class="card-text">Price : 635</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/hk3.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">New Spices Rack</h4>
            <p class="card-text">Price : 449</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="./assets/media/hkk4.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Fancy Spices Box</h4>
            <p class="card-text">Price : 449</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/media/hk5.webp" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Rack Holder</h4>
            <p class="card-text">Price : 350</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
        </div>
    </div>
    </div>
    </div>