<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-md-xs-lg-12"> -->
  <h1>Easybuy</h1>
  <nav class="navbar navbar-expand-sm bg-info navbar-info">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="./assets/media/istockphoto-1175631750-612x612.jpg"alt ="logo" width="70px"height="70px" class="rounded-circle">
    </a>
    <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="./all" id="navbardrop" data-toggle="dropdown" style="color: black">
      All
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="./all/shopbydept" style="color:brown"><h5>Shop By Dept</h5></a>
        <a class="dropdown-item" routerLink="./all/mobiles"><b>Mobiles</b></a>
        <a class="dropdown-item" routerLink="./all/computers"><b>Computers</b></a>
        <a class="dropdown-item"routerLink="./all/tv"><b>Tv</b></a>
        <a class="dropdown-item"routerLink="./all/appliances" ><b>Appliances</b></a>
        <a class="dropdown-item" routerLink="./all/electronics"><b>Electronics</b></a>
        <a class="dropdown-item" routerLink="./all/womensfashion"><b>Women's fashion</b></a>
        <a class="dropdown-item" routerLink="./all/mensfashion"><b>Men's Fashion</b></a>
        <a class="dropdown-item" routerLink="./all/helpsettings" style="color:brown"><h5>Help&Settings</h5></a>
        <a class="dropdown-item" routerLink="./all/youraccount"><b> Account</b></a>
        <a class="dropdown-item" routerLink="./all/customerservice"><b>Customer Sevice</b></a>
        <a class="dropdown-item" routerLink="./all/signin"><b>Sign In</b></a>




      </div>
    </li>
    <!-- Links -->
    
      
      <li class="nav-item">
        <a class="nav-link" routerLink="./mobiles" style="color:black" >  Mobiles  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./electronics" style="color:black">  Electronics  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./fashion" style="color: black">  Fashion  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./homekitchen" style="color:black">Home &Kitchen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./computers" style="color:black">Computers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./toysgames" style="color:black">Toys&Games</a>
      </li>
     
     
      <!-- <div class="right"> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="./signin" style="color:black">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./signup" style="color:black">SignUp</a>
        </li>
      
    </ul>
  </nav>
<br>  
       <!-- </div>
      </div>
      </div>  -->

<!--<app-mobiles></app-mobiles>
<app-all></app-all>-->
</body>
<router-outlet></router-outlet>

<app-footer></app-footer> 
</html>