
 <div class="container-fluid">
   <div class="row">
   <div class="col-xs-sm-md-lg-12">
   <div class="wrapper"> 
   <h2>SignIn</h2> 
   <div id="error_message"></div>  
   <form id="myform" onsubmit="return Validation()"> 
    <div class="input_field"> 
     <input type="text" name="name" id="name" placeholder="enter your name"> 
    </div> 
   
    <div class="input_field"> 
     <input type="text" name="phone" id="phone" placeholder="enter your number"> 
    </div> 
    <div class="input_field"> 
     <input type="text" name="email" id="email" placeholder="enter your email"> 
    </div> 
    
    <div class="btn"> 
     <input type="submit" value="submit"> 
    </div> 
   </form> 
  </div> 
  </div>
  </div>
  </div>
  
  <!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> <input type="text" name="" placeholder="Username"> <input type="password" name="" placeholder="Password"> <a class="forgot text-muted" href="#">Forgot password?</a> <input type="submit" name="" value="Login" href="#">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->