<div class="container">
  <div class="row">
    <div class="col-sm-md-xs-lg">

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/t4.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Set Of 8 Soft Toys</h4>
        <p class="card-text">Rs : 599</p>
        <a href="#" class="btn btn-primary">Save 10%</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/ty1.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Puppy Soft Toys</h4>
        <p class="card-text">Rs : 199</p>
        <a href="#" class="btn btn-primary">Buy 1 Get 1</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/t18.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Horse Soft Toys</h4>
        <p class="card-text">Rs : 199</p>
        <a href="#" class="btn btn-primary">Save 20 rs/-</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/t17.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Elephant St Toys</h4>
        <p class="card-text">Rs : 199</p>
        <a href="#" class="btn btn-primary">Save 10%</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/ty9.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Unicorn Soft Toys</h4>
        <p class="card-text">Rs : 199</p>
        <a href="#" class="btn btn-primary">Save 15%</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/t13.jpeg" alt="Card image"height="300px"width="300px">
      <div class="card-body">
        <h4 class="card-title">Push And Go Truck</h4>
        <p class="card-text">Rs : 188</p>
        <a href="#" class="btn btn-primary">save 50rs/-</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/ty3.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Fashionable Elecronic Toys</h4>
        <p class="card-text">Rs : 749</p>
        <a href="#" class="btn btn-primary">Save 20%</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/ty10.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Remote Truck</h4>
        <p class="card-text">Rs : 899</p>
        <a href="#" class="btn btn-primary">Save 99rs/-</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/ty6.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Plastic Truck</h4>
        <p class="card-text">Rs : 299</p>
        <a href="#" class="btn btn-primary">Buy 1 Get 1</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/ty7.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">6 Tire Truck</h4>
        <p class="card-text">Rs : 350</p>
        <a href="#" class="btn btn-primary">Save 50rs/-</a>
      </div>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/media/t16.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Children Bycycle</h4>
        <p class="card-text">Rs : 1,999</p>
        <a href="#" class="btn btn-primary">Save 10%</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/t5.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Kids Toy Vehicle</h4>
        <p class="card-text">Rs : 1050</p>
        <a href="#" class="btn btn-primary">Save 5%</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/ty11.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Kids JCB</h4>
        <p class="card-text">Rs : 499</p>
        <a href="#" class="btn btn-primary">50% Off</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="./assets/media/t3.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Colors Cube</h4>
        <p class="card-text">Rs : 150</p>
        <a href="#" class="btn btn-primary">Save 15%</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/media/t2.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">A-Z & 1-9 Sheets</h4>
        <p class="card-text">Rs : 499</p>
        <a href="#" class="btn btn-primary">save 50rs/-</a>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>